@use  '../../base' as *;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 $size-xxl;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__links {
    display: flex;
    align-items: center;
    gap: 24px;
    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 600;
    }
  }
  &__signup {
    button {
      @include button;
      background-color: inherit;
      color: $secondary-color;
    }
  }
}
