@use  '../../base' as *;

.footer {
  display: flex;
  flex-direction: column;
  margin: 0 $size-xxl;
  
  &__column {
    flex: 1;
    &.container {
      display: flex;
      border-bottom: thin solid $border-gray;
      padding-bottom: $size-ll;
    }
    p {
      color: $secondary-color;
      font-weight: 600;
      cursor: pointer;
      width: fit-content;
    }
    &.footer__column__title {
      color: $black;
      margin-bottom: $size-m;

    }
    &__row {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-bottom: $size-m;

    }

  }
  &__bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; 

    p {
      color: $primary-color;
    }
  }
}